*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

.bg {
  height: auto;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img{
  max-width: 100%;
  height: auto;
}
.container{
  padding: 10% 29%;
}
.container h2{
  font-size: 31px;
}

.container h2 {
  font-size: 31px;
}

.logo{
  text-align: center;
}
.logo img{
  margin-bottom: -35px;
}
.input-login{
  padding: 25px;
  border: none;
  border-radius: 50px;
  margin-top: 2%;
}

label {
  margin-top:20px;
  margin-bottom:0px;
}

.buttons{
  margin: 5% 0;
}
.buttons a{
  float: right;
  margin-top: 3%;
}
.btn-login{
  padding: 2% 10%;
  border-radius: 50px;
}

.error {
  border-bottom:0px;
  color:red;
}
